<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="24px" fxLayoutAlign="space-between none">
    <div [ngClass.xs]="{'text-center' : true}" [ngClass.sm]="{'text-center' : true}">
        <app-image-viewer [posterPath]="details.poster_path" [type]="'detail'" [elevate]="true"></app-image-viewer>
    </div>
    <div fxFlex class="mat-typography">
        <div fxLayout="row" fxLayoutAlign="end none">
            <div fxFlex>
                <h1 class="mat-headline">{{details.title || details.name}}
                    <span *ngIf="type == 'movies'" class="mat-subheading-1">({{details.release_date | date: 'yyyy'}})</span>
                    <span *ngIf="type == 'tv'" class="mat-subheading-1">({{details.first_air_date | date: 'yyyy'}} - {{details.last_air_date | date: 'yyyy'}})</span>
                    <span *ngIf="details.status != 'Released' && details.status != 'Ended'" class="mat-subheading-1">({{details.status}})</span>
                </h1>  
                <div class="mb++">
                    <mat-chip-list>
                        <mat-chip color="primary" *ngFor="let genre of details.genres" [selectable]="true">{{genre.name}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="progress-wrapper">
                <div class="current" [ngStyle]="getOverlayStyle()">{{ details.vote_average }}/{{ 10 }}</div>
                <round-progress 
                    [current]="details?.vote_average" 
                    [max]="10"
                    [color]="voteColor"
                    [background]="'#eaeaea'"
                    [radius]="50"
                    [stroke]="10"
                    [semicircle]="false"
                    [rounded]="false"
                    [clockwise]="true"
                    [duration]="1800"
                    [animation]="'easeOutCubic'"
                    [animationDelay]="800">
                </round-progress>
            </div>       
        </div>     

        <h3 class="subheading">Overview</h3>
        <span class="mat-body-1">{{details.overview}}</span>

        <app-featured-crew *ngIf="credits" [type]="type" [creators]="details.created_by" [crew]="credits.crew"></app-featured-crew>
        <app-top-billed-cast [topBilledCast]="topBilledCast"></app-top-billed-cast>
    </div>
</div>