<div class="mat-typography p+" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
    <button mat-button [matMenuTriggerFor]="menu">
        {{title}}<mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button *ngFor="let item of menuItems" mat-menu-item (click)="selectMovieFilter(item.name)">{{item.name}}</button>
    </mat-menu>
    <app-featured-list *ngIf="showList" [type]="'/movies'" [items]="movies"></app-featured-list>
</div>
