    <form fxLayout="row" fxLayoutAlign="space-between stretch" 
        fxLayout.xs="column" fxLayout.sm="column"
        [ngClass.md]="{'fixed-width' : true}" 
        [ngClass.lg]="{'fixed-width' : true}" 
        [ngClass.xl]="{'fixed-width' : true}">
        
        <mat-form-field fxFlex color="primary" class="mr">
            <input [(ngModel)]="searchParams.search" name="search" matInput placeholder="Search for a movie, series, or person...">
        </mat-form-field>
        <div>
            <mat-form-field>
                <mat-select placeholder="Search Type" color="primary" [(value)]="selected">
                    <mat-option *ngFor="let type of searchTypes" [value]="type.name">
                        {{ type.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button color="primary" [disabled]="disableSearch()" (click)="search()"><mat-icon>search</mat-icon></button>
        </div>  
    </form>

