<div fxHide.xs="true" fxHide.sm="true">
    <button mat-button disabled [matMenuTriggerFor]="discover">Discover</button>

    <mat-menu #discover="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/discover']">Movies</button>
        <button mat-menu-item [routerLink]="['/discover']">TV</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="movies">Movies</button>
    <mat-menu #movies="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Popular'}]">Popular</button>
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Top Rated'}]">Top Rated</button>
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Upcoming'}]">Upcoming</button>
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Now Playing'}]">Now Playing</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="tv">TV</button>
    <mat-menu #tv="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'Popular'}]">Popular</button>
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'Top Rated'}]">Top Rated</button>
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'On TV'}]">On TV</button>
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'Airing Today'}]">Airing Today</button>
    </mat-menu>

    <button mat-button [routerLink]="['/people/featured']">People</button>
</div>