<div class="p+ mat-typography">

    <h3 class="subheading mt+">Posters ({{images?.posters.length}})</h3>
    <div 
        dragScroll
        drag-scroll-y-disabled="true"
        scrollbar-hidden="true"
        #posters>
        <app-poster-image  *ngFor="let poster of images?.posters" [posterPath]="poster.file_path" [type]="'search-list'"></app-poster-image>
    </div>

    <h3 class="subheading mt+">Backdrops ({{images?.backdrops.length}})</h3>
    <div 
        dragScroll
        drag-scroll-y-disabled="true"
        scrollbar-hidden="true"
        #backdrops>
        <app-poster-image  *ngFor="let poster of images?.backdrops" [posterPath]="poster.file_path" [type]="'backdrop'"></app-poster-image>
    </div>
</div>