<div class="mat-typography p+" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
    <button mat-button [matMenuTriggerFor]="menu">
        {{title}}<mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button *ngFor="let item of menuItems" mat-menu-item (click)="selectMovieFilter(item.name)">{{item.name}}</button>
    </mat-menu>
    <featured-list *ngIf="showList" [type]="'/movie'" [items]="movies"></featured-list>

    <!-- <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
        <mat-card class="upcoming-card selectable-card mv+"
            [routerLink]="['/movie', movie.id]" 
            fxFlex="48" 
            fxFlex.sm="100" 
            fxFlex.xs="100" 
            *ngFor="let movie of movies?.results" >
            <poster-image [posterPath]="movie.backdrop_path" [type]="'backdrop'" [card]="true"></poster-image>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h4 class="mat-subheading-1 mb">{{movie.title}}</h4>            
                <span class="mat-caption uc-date">{{movie.release_date | date : 'shortDate'}}</span>
            </div>
            <mat-chip-list>
                <mat-chip *ngFor="let genre of movie.genre_names">{{genre}}</mat-chip>
            </mat-chip-list>
        </mat-card>
    </div> -->
</div>
