<div class="p+">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let season of seasons">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Season {{season.season_number}}
                    <span class="mat-caption pl">({{season.air_date | date : 'yyyy'}})</span>
                </mat-panel-title>
                <mat-panel-description>
                    {{season.episode_count}} Episodes
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-season-detail [tvId]="tvId" [seasonNumber]="season.season_number"></app-season-detail>
            <mat-action-row>
                <button mat-button color="primary" (click)="goToFullEpisodeList(season.season_number)">Full Episode List</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>