.movie-detail {
    // background-color: #CFD8DC;
}

.progress-wrapper {
    position: relative;
    font-size: 40px;
  }
  
  .current {
    position: absolute;
    font-weight: 100;
    line-height: 1;
  }
