<div class="mb+ p+">
    <div class="movie-detail">
        <div [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
            <button mat-button class="mb+" (click)="navigateBack()">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="24px" fxLayoutAlign="space-between none" *ngIf="details">
                <div [ngClass.xs]="{'text-center' : true}" [ngClass.sm]="{'text-center' : true}">
                    <poster-image [posterPath]="details.poster_path" [type]="'detail'" [elevate]="true"></poster-image>
                </div>
                <div fxFlex class="mat-typography">
                    <div fxLayout="row" fxLayoutAlign="end none">
                        <div fxFlex>
                            <h1 class="mat-headline">{{details.title}}
                                <span class="mat-subheading-1">({{details.release_date | date: 'yyyy'}})</span>
                                <span *ngIf="details.status != 'Released'" class="mat-subheading-1">({{details.status}})</span>
    
                            </h1>  
                            <div class="mb++">
                                <mat-chip-list>
                                    <mat-chip color="primary" *ngFor="let genre of details.genres" [selectable]="true">{{genre.name}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div class="progress-wrapper">
                            <div class="current" [ngStyle]="getOverlayStyle()">{{ details.vote_average }}/{{ 10 }}</div>
                            <round-progress 
                                [current]="details.vote_average" 
                                [max]="10"
                                [color]="voteColor"
                                [background]="'#eaeaea'"
                                [radius]="50"
                                [stroke]="10"
                                [semicircle]="false"
                                [rounded]="false"
                                [clockwise]="true"
                                [duration]="1800"
                                [animation]="'easeOutCubic'"
                                [animationDelay]="800">
                            </round-progress>
                        </div>       
                    </div>     
    
                    <h3 class="subheading">Overview</h3>
                    <span class="mat-body-1">{{details.overview}}</span>
        
                    <featured-crew *ngIf="credits" [crew]="credits.crew"></featured-crew>
                    <top-billed-cast [topBilledCast]="topBilledCast"></top-billed-cast>
                </div>
            </div>
        </div>
    </div>
    
    <div [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Full Cast & Crew">
                <full-cast-and-crew *ngIf="credits" [credits]="credits"></full-cast-and-crew>
            </mat-tab>
            <mat-tab label="Technical Details">
                <technical-details *ngIf="details" [details]="details"></technical-details>
            </mat-tab>
            <mat-tab label="Reviews">
                <reviews [movieId]="movieId"></reviews>
            </mat-tab>
            <mat-tab label="Images">
                <ng-template mat-tab-label>
                    Images ({{images?.backdrops.length + images?.posters.length}})
                </ng-template>
                <media-images [images]="images"></media-images>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Videos ({{videos?.results.length}})
                </ng-template>
                <media-videos [videos]="videos"></media-videos>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
