<app-fixed-header [details]="details" [showFixedHeader]="showFixedHeader" [voteColor]="voteColor" [type]="'tv'"></app-fixed-header>

<div class="movie-detail">
    <div class="pv+" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}" fixedScroll (scrollPast)="toggleFixedHeader($event)">
        <div class="mb+">
            <app-breadcrumbs></app-breadcrumbs> 
        </div>
        <app-item-detail *ngIf="details && credits" [type]="'tv'" [details]="details" [credits]="credits" [voteColor]="voteColor"></app-item-detail>
    </div>
</div>

<div [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
    <mat-tab-group dynamicHeight="true" mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                Seasons ({{details?.seasons.length}})
            </ng-template>
            <app-seasons-overview *ngIf="details" [tvId]="details.id" [seasons]="details.seasons"></app-seasons-overview>
        </mat-tab>
        <mat-tab label="Images">
            <ng-template mat-tab-label>
                Images ({{images?.backdrops.length + images?.posters.length}})
            </ng-template>
            <app-media-images [images]="images"></app-media-images>
        </mat-tab>
        <mat-tab label="Technical Details">
            <app-technical-details *ngIf="details" [details]="details"></app-technical-details>
        </mat-tab>
    </mat-tab-group>
</div>
