<div class="mat-typography p+" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
    <button mat-button [matMenuTriggerFor]="menu">
        {{title}}<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button  mat-menu-item 
        *ngFor="let item of menuItems"
        [ngClass]="{'selected-menu-item' : item.selected}" 
        (click)="selectTvFilter(item.name)">{{item.name}}</button>
    </mat-menu>
    <app-featured-list *ngIf="showList" [type]="'/tv'" [items]="tvShows"></app-featured-list>
</div>
<router-outlet></router-outlet>

