<div class="mat-typography p+" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}" [ngClass.xl]="{'fixed-width' : true}">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="mat-title m0">
            Featured TV
        </h2>
        
        <button mat-button [matMenuTriggerFor]="menu">
            {{title}}<mat-icon>arrow_drop_down</mat-icon>
        </button>
    </div>

    <mat-menu #menu="matMenu">
        <button  mat-menu-item 
        *ngFor="let item of menuItems"
        [ngClass]="{'selected-menu-item' : item.selected}" 
        (click)="resetTvFilter(item.name)">{{item.name}}</button>
    </mat-menu>
    <app-featured-list *ngIf="showList" [type]="'/tv'" [items]="tvShows"></app-featured-list>

    <mat-paginator *ngIf="tvShows" 
        [length]="tvShows?.total_results" 
        [pageSize]="20" 
        (page)="pageEvent = onPaginationChanged($event)">
    </mat-paginator>
</div>


