<app-fixed-header [details]="details" [showFixedHeader]="showFixedHeader" [voteColor]="voteColor" [type]="'season'" [seasonNumber]="seasonNumber"></app-fixed-header>


<div class="mat-typography p+" *ngIf="isLoaded" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}"
    [ngClass.xl]="{'fixed-width' : true}"
    fixedScroll (scrollPast)="toggleFixedHeader($event)">
    
    <div class="mb+">
        <app-breadcrumbs></app-breadcrumbs>
    </div>

    <!-- Season Toolbar -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1 fxFlex class="mat-headline">{{details.name}}</h1>

        <button mat-button [matMenuTriggerFor]="menu" class="mb+">
            Season {{seasonNumber}}<mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item
                *ngFor="let season of details.seasons"  
                [ngClass]="{'selected-menu-item' : season.season_number == seasonNumber}" 
                (click)="selectSeason(season.season_number)">Season {{season.season_number}} 
                <span class="mat-caption">({{season.episode_count}} episodes)</span>
            </button>
        </mat-menu>
    </div>

    <!-- Season Overview -->
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="mb+">
        <div [ngClass.xs]="{'text-center' : true}" [ngClass.sm]="{'text-center' : true}">
            <app-image-viewer [posterPath]="season.poster_path" [elevate]="true" [type]="search-list"></app-image-viewer>
        </div>
        <div class="ml++">
            <h2 class="mat-headline">Season {{seasonNumber}}
                <span class="mat-subheading-1">
                    ({{season.air_date | date : 'yyyy'}})
                </span>
            </h2>
            <p>{{season.overview}}</p>
            <p *ngIf="season.overview == ''">No Description Available</p>
        </div>
    </div>

    <mat-tab-group dynamicHeight="true" mat-stretch-tabs>
        <mat-tab label="Episodes ({{season.episodes.length}})">
            <div *ngFor="let episode of season.episodes">
                <app-episode [episode]="episode"></app-episode>
            </div>
        </mat-tab>
        <mat-tab label="Season Regulars">
            <app-season-cast *ngIf="credits" [cast]="credits.cast"></app-season-cast>
        </mat-tab>
        <mat-tab label="Crew Members">
            <app-season-crew *ngIf="credits" [crew]="credits.crew"></app-season-crew>
        </mat-tab>
    </mat-tab-group>
</div>