<div class="mat-typography p+" *ngIf="isLoaded" [ngClass.md]="{'fixed-width' : true}" [ngClass.lg]="{'fixed-width' : true}"
    [ngClass.xl]="{'fixed-width' : true}">
    <breadcrumbs></breadcrumbs>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div [ngClass.xs]="{'text-center' : true}" [ngClass.sm]="{'text-center' : true}">
            <poster-image [posterPath]="season.poster_path" [elevate]="true" [type]="search-list"></poster-image>
        </div>
        <div class="ml++">
            <h1 class="mat-headline">Season {{seasonNumber}}
                <span class="mat-subheading-1">
                    ({{season.air_date | date : 'yyyy'}})
                </span>
            </h1>
            <p>{{season.overview}}</p>
            <p *ngIf="season.overview == ''">No Description Available</p>
        </div>
    </div>

    <div *ngFor="let episode of season.episodes">
        <mat-card class="mv+ p0">
            <div class="episode-card-content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"> 
                <poster-image [posterPath]="episode.still_path" [elevate]="true" [type]="'still'"></poster-image>
                <div class="ml++">
                    <h3><span class="episode-number">{{episode.episode_number}}</span> {{episode.name}}</h3>
                    <p>{{episode.overview}}</p>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex>
                            <div class="mat-body-2">
                                <span *ngFor="let director of episode.directors">
                                    {{director?.name}},
                                </span>
                            </div>
                            <div class="mat-body-1">Director</div>
                        </div>
                        <div fxFlex>
                            <div class="mat-body-2">
                                <span *ngFor="let writer of episode.writers">
                                    {{writer?.name}},
                                </span>
                            </div>
                            <div class="mat-body-1">Writer</div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Full Cast & Crew
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <mat-list fxFlex>
                        <h3 mat-subheader>Guest Stars</h3>
                        <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let cast of episode.guest_stars">
                            <poster-image [posterPath]="cast.profile_path" type="avatar"></poster-image>
                            <mat-list-item fxFlex>
                                <h4 mat-line>{{cast.name}}</h4>
                                <p mat-line> {{cast.character}} </p>
                            </mat-list-item>
                        </div>
                
                    </mat-list>
                
                    <div fxLayout="column" fxFlex>
                        <mat-list fxFlex>
                            <h3 mat-subheader>Crew</h3>
                            <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let crew of episode.crew">
                                <poster-image [posterPath]="crew.profile_path" type="avatar"></poster-image>
                                <mat-list-item fxFlex>
                                    <h4 mat-line>{{crew.name}}</h4>
                                    <p mat-line> {{crew.job}} </p>
                                </mat-list-item>
                            </div>
                        </mat-list>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-card>

    </div>
</div>