<div fxHide.xl="true" fxHide.lg="true" fxHide.md="true">
    <button mat-icon-button [matMenuTriggerFor]="collapsedMenu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #collapsedMenu="matMenu">
        <button mat-menu-item disabled [matMenuTriggerFor]="discoverNested">
            <mat-icon>explore</mat-icon>
            Discover
        </button>

        <button mat-menu-item [matMenuTriggerFor]="moviesNested">
            <mat-icon>movie</mat-icon>
            Movies
        </button>
        <button mat-menu-item [matMenuTriggerFor]="tvNested">
            <mat-icon>tv</mat-icon>
            TV
        </button>
        <button mat-menu-item [routerLink]="['/people/featured']">
            <mat-icon>people</mat-icon>
            People
        </button>
    </mat-menu>

    <mat-menu #discoverNested="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/discover']">Movies</button>
        <button mat-menu-item [routerLink]="['/discover']">TV</button>
    </mat-menu>

    <mat-menu #moviesNested="matMenu">
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Popular'}]">Popular</button>
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Top Rated'}]">Top Rated</button>
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Upcoming'}]">Upcoming</button>
        <button mat-menu-item [routerLink]="['/movies/featured', { type: 'Now Playing'}]">Now Playing</button>
    </mat-menu>

    <mat-menu #tvNested="matMenu">
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'Popular'}]">Popular</button>
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'Top Rated'}]">Top Rated</button>
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'On TV'}]">On TV</button>
        <button mat-menu-item [routerLink]="['/tv/featured', { type: 'Airing Today'}]">Airing Today</button>
    </mat-menu>

</div>