<div class="footer p+" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <img height="50" class="mr0" src="../assets/angular_logo.png">
        <img height="50" src="../assets/tmdb_logo.svg">
    </div>
    <span class="mat-caption mt">
        <div>
            This product uses the TMDb API but is not endorsed or certified by TMDb. 
        </div>
        <div>
            Built by Eric Lund using Angular
        </div>
    </span>
</div>