<div class="p+" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <mat-list fxFlex="50">
        <h3 mat-subheader>Cast</h3>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let cast of credits.cast" [routerLink]="['/people', cast.id]" class="selectable-list">
            <app-image-viewer [posterPath]="cast.profile_path" type="avatar"></app-image-viewer>
            <mat-list-item fxFlex>
                <h4 mat-line>{{cast.name}}</h4>
                <p mat-line> {{cast.character}} </p>
            </mat-list-item>
        </div>

    </mat-list>

    <div *ngIf="groupedCrew" fxLayout="column" fxFlex="50">
        <mat-list *ngFor="let group of groupedCrew">
            <h3 mat-subheader>{{group[0].department}}</h3>
            <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let crew of group" [routerLink]="['/people', crew.id]" class="selectable-list">
                <app-image-viewer [posterPath]="crew.profile_path" type="avatar"></app-image-viewer>
                <mat-list-item fxFlex>
                    <h4 mat-line>{{crew.name}}</h4>
                    <p mat-line> {{crew.job}} </p>
                </mat-list-item>
            </div>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>